{:deps {aleph/aleph {:mvn/version "0.9.8"}
        com.github.oliyh/martian {:mvn/version "0.2.3"}
        metosin/muuntaja-cheshire {:mvn/version "0.6.11"}
        metosin/muuntaja-yaml {:mvn/version "0.6.11"}}

 :aliases
 {:dev
  {:extra-paths ["env/dev" "dev-resources"]}
  
  :test
  {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.5.32"}
                com.monkeyprojects/build {:mvn/version "0.3.1"}
                com.github.oliyh/martian-test {:mvn/version "0.2.3"}
                metosin/reitit-ring {:mvn/version "0.10.1"}
                metosin/reitit-swagger {:mvn/version "0.10.1"}}
   :extra-paths ["test"]
   :exec-fn monkey.test/all}

  :junit
  {:exec-fn monkey.test/junit}
  
  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.martian.*"]}}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.32"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/martian-aleph.jar"
               :lib "com.monkeyprojects/martian-aleph"
               :version [[:env "LIB_VERSION"] "0.1.5-SNAPSHOT"]
               :scm {:url "https://github.com/monkey-projects/martian-aleph"}
               :pom-data
               [[:licenses
                 [:license
                  [:name "MIT"]
                  [:url "https://mit-license.org"]]]]}}

  :install
  {:exec-fn monkey.build/jar+install}

  :publish
  {:exec-fn monkey.build/jar+deploy}}}
